<!--
; Title:  Exercise 2.4 - Routing in Action
; Author: Professor Krasso
; Date: 11 January 2021
; Modified By: Marie Nicole Barleta
; Description: About the composer
; This page shows up once the user selects the about link
*/
-->


<div class="composer-container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="align-center">Ludwig van Beethoven</h3>
    </div>
  </div>

  <hr />



  <div class="row about-composer">

    <!-- This is in the left side of the page -->
    <div class="col-sm-3">
      <img src="./assets/Ludwig_van_Beethoven.jpeg" width="100%" height="100%"/>
      <figcaption>Image Source: https://commons.wikimedia.org/wiki/File:Ludwig_van_Beethoven.jpeg</figcaption>
    <br /><br />
    </div>
    <!-- This is in the right side of the page -->
    <div class="col-sm-9">
      <p>
        Ludwig van Beethoven was a German pianist and composer widely considered to be one of the greatest musical geniuses of all time. His innovative compositions combined vocals and instruments, widening the scope of sonata, symphony, concerto and quartet. He is the crucial transitional figure connecting the Classical and Romantic ages of Western music.
Beethoven’s personal life was marked by a struggle against deafness, and some of his most important works were composed during the last 10 years of his life, when he was quite unable to hear. He died at the age of 56. <em class="apa-reference"><a href="https://www.biography.com/musician/ludwig-van-beethoven" target="_blank">Source</a></em>
      </p>
    </div>
  </div>
</div>
