
<!--
; Title:  Exercise 2.4 - Routing in Action
; Author: Professor Krasso
; Date: 11 January 2021
; Modified By: Marie Nicole Barleta
; Description: This is where the composer lists are located
*/
-->



<div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <!--This is where the left side of the content of composer list table-->
          <th scope="col">Full name</th>

          <!--This is where the right side of the content of composer list table-->
          <th scope="col">Genre</th>
        </tr>
      </thead>
      <!--
        ; ngFor looping over the array of composers from
        ; the constructor object located in component-list.ts
        ; Each composer object in composers array
        ; Looped and retrieved in a form of data binding in Angular
        ; It is output to a bootstrap table in two columns
      -->
      <tbody *ngFor="let composer of composers">
        <tr>
          <td scope="row">{{ composer.fullName }}</td>
          <td>{{composer.genre}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
