<!--
============================================
; Title:  app.component.html
; Author: Professor Krasso
; Date: 19 January 2021
; Modified By: Marie Nicole Barleta
; Description: This is a secured profile app
;===========================================
--->



<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact Us</a>
    </li>
  </ul>
</nav>

<div role="main" class="container">
  <br /><br />


      <!-- The assignment value is imported and exported from the
        app.component.ts file
      -->

  <h2>Exercise 3.3 - Passing Data to Routes, Part 2</h2>

  <br /><br />
  <div class="row" *ngIf="isLoggedIn; else showError">
    <div class="col-sm-4">
      <!-- This is the directive for my image
        - From the app directory it will find the my-image.components file
        and will output all the components from it.
        - In this case the component is an image from the assets.
      -->
      <app-my-image></app-my-image>

    </div>

    <div class="col-sm-4">
      <!-- This is the directive for my details
        - From the app directory it will find the my-details.components file
        and will output all the components from it.
        - In this case the component is the details in a list format.
      -->
      <br /><br />
      <app-my-details></app-my-details>
    </div>
  </div>
<!-- If the boolean returns false it will show this error message-->
  <ng-template #showError>
    <div class="row">
        <div class="col-sm-12">
            <h4 class="alert alert-danger">
              You are not authorized to view this content.
            </h4>
        </div>
    </div>
  </ng-template>
  <br /> <br />
</div>
