<!--
  /*
 ============================================
; Title:  not-found.component.html
; Author: Professor Krasso
; Date: 08 February 2021
; Modified By: Marie Nicole Barleta
; Description: not-found component html file
;===========================================
 */
-->


<div fxLayout="column">
  <mat-card fxFlex style="width: 50%; margin-left: 18%;" class="mat-elevation-z0">

    <!--
      This is where the not found image is located,
      it is in a mar-card material angular element
    -->

    <mat-card-title>
      <img src="./assets/not-found-image.png" />
    </mat-card-title>
    <br/>

     <!--
      The return to home button after a user goes to this 404 error link
    -->

    <mat-card-content style="text-align: center; padding-left: 30%;">
      <button mat-raised-button color="primary" routerLink="/">Return home</button>
    </mat-card-content>
  </mat-card>
</div>
