/*
============================================
; Title:  sign-in.component.css
; Author: Professor Krasso
; Date: 18 January 2021
; Modified By: Marie Nicole Barleta
; Description: Contains the style of sign-in component
;===========================================
*/

.signin-container {
    width: 35%;
    margin: 0 auto;
    margin-top: 10%;
}
