<!--
============================================
; Title:  contact.component.html
; Author: Professor Krasso
; Date: 01 February 2021
; Modified By: Marie Nicole Barleta
; Description:  contact component html file
;===========================================
-->



<!--
; The mat-card from material angular is inside the flex layout
; which will provide a responsive layout to this page.
; mat-card elements have a shadow effect that shows a texture to each content

-->
<div fxLayout="row wrap">

  <!-- Right side of contact page -->
  <div fxFlex>

    <mat-card class="mat-elevation-z0">
      <mat-card-title class="card-title-icon">
        <mat-icon color="primary">navigation</mat-icon>
       </mat-card-title>
    <br />

    <mat-card-content class="align-center">
      <p>505 Main street</p>
      <p>Omaha, Nebraska</p>
    </mat-card-content>
    </mat-card>
  </div>
<!-- Left side of contact page -->
  <div fxFlex>
    <mat-card class="mat-elevation-z0">
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">phone</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>Direct: 555-555-5555</p>
      <p>Toll-free: 1-888-555-5555</p>
      <p>Fax: 555-555-5555</p>
    </mat-card-content>
    </mat-card>
  </div>
</div>

<br /><br /><br /><br />
<div fxLayout="column">
    <p style="text-align: center">
        Visit us online or at one of our many great locations throughout the Omaha metro area.
    </p>
</div>
