<!---
 ============================================
; Title:  sign-in.component.html
; Author: Professor Krasso
; Date: 14 February 2021
; Modified By: Marie Nicole Barleta
; Description: The sign-in form in a fxLayout column,
; and Angular material is used to style this whole sign-in form.
;===========================================
-->

<div fxLayout="column">

  <mat-card fxFlex class="mat-elevation-z8 signin-container">
    <!-- The title and subtitle of the form -->
    <mat-card-title>Student Sign In</mat-card-title>
    <mat-card-subtitle>You must enter a valid student ID to proceed.</mat-card-subtitle>

    <!-- The error message will pop-up if the user input an invalid student ID -->
    <mat-card-content>
      <div class="msg-error" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
<!-- Error message once the user entered a non numeric value -->
      <div *ngIf="form.studentId.errors && form.studentId.touched">
        <div class="msg-error">
          Student ID must be a numeric value.
        </div>
      </div>

      <mat-card class="mat-elevation-z0" fxLayout="column" fxLayoutGap="10px">
    <!--
      ; This form group has onSubmit function, validates the user's input from the declared studentIds variable,
      ; the form is required to have a numeric input before the submit button will show.
      ; If the input matches the declared variable the user can access the page,
      ; if not they will receive an error message and won't be able to access the page.
    -->
        <form [formGroup]="signinForm" (ngSubmit)="onSubmit(); signinForm.reset()">
          <mat-card-content>

            <mat-form-field fxFlex appearance="fill">
              <mat-label for="txtStudentId" id="lblStudentId">Student ID</mat-label>
              <input type="text" matInput formControlName="studentId" required id="txtStudentId" name="txtStudentId" />
            </mat-form-field>
          </mat-card-content>

      <!-- The submit button will perform the submit function once clicked -->

          <mat-card-actions>
            <button type="submit" [disabled]="!signinForm.valid" fxFlex mat-raised-button color="primary">Submit</button>
          </mat-card-actions>
        </form>
      </mat-card>

    </mat-card-content>
  </mat-card>

</div>
