/*
; Title:  composer-list.component.css
; Author: Professor Krasso
; Date: 25 January 2021
; Modified By: Marie Nicole Barleta
; Description: Styles for composer-list component
*/


.txtSearch {
  width: 30%;
  float: right;
  margin-bottom: 5px;
}
