<!--
============================================
; Title:  about.component.html
; Author: Professor Krasso
; Date: 01 February 2021
; Modified By: Marie Nicole Barleta
; Description:  about component html file
; flex layout is used fir a responsive design
;===========================================
-->


<div fxLayout="row wrap">
<!-- Left side of the about-->
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="./assets/pope-francis.jpg" />
      </div>
      <div>
        <em>
          Photo by <a class="attribution-link" href="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTE1ODA0OTcyMDMzNTQxNjQ1/pope-francis-21152349-2-402.jpg" target="_blank">Biography.com</a>
        </em>
      </div>
    </div>
  </div>
<!-- Right side of the about-->
  <div fxFlex class="about">
    <h1 class="blue">Who is Pope Francis?</h1>
    <p>
      Jorge Mario Bergoglio became Pope Francis on March 13, 2013, when he was named the 266th pope of the Roman Catholic Church.
      Bergoglio, the first pope from the Americas, took his papal title after St. Francis of Assisi of Italy. Prior to his election as pope,
      Bergoglio served as archbishop of Buenos Aires from 1998 to 2013 (succeeding Antonio Quarracino),
      as cardinal of the Roman Catholic Church of Argentina from 2001 to 2013, and as president of the Bishops' Conference of Argentina from 2005 to 2011.
      Named Person of the Year by Time magazine in 2013, Pope Francis has embarked on a tenure characterized by humility and outspoken support of the world's poor and marginalized people and has been involved actively in areas of political diplomacy and environmental advocacy.
    </p>
    <em>Biography by: <a href="https://www.biography.com/religious-figure/pope-francis" target="_blank" class="attribution-link">Biography.com Editors</a></em>
  </div>
</div>
