<!--
============================================
; Title:  wishlist-create.component.html
; Author: Professor Krasso
; Date: 08 February 2021
; Modified By: Marie Nicole Barleta
; Description:  wishlist create component html file
;===========================================
-->

<!--
  ;This will create an input form for wishlist
  ; once the addItem() function is clicked it will add
  ; the title and author in the IWishlistItem which is in the
  ; Output() in the ts file
-->
<form fxLayout="column" class="wishlist-create-form">
  <mat-form-field fxFlex appearance="fill">
    <mat-label>Title</mat-label>
    <input type="text" name="title" matInput [(ngModel)]="item.title" />
  </mat-form-field>

  <mat-form-field fxFlex appearance="fill">
    <mat-label>Authors</mat-label>
    <input type="text" name="authors" matInput [(ngModel)]="item.authors" />
  </mat-form-field>

  <button mat-button color="primary" (click)="addItem()">Add item</button>
</form>
