<!--
============================================
; Title:  my-details.component.html
; Author: Professor Krasso
; Date: 20 December 2020
; Modified By: Marie Nicole Barleta
; Description: This is where the profile details is located.
;===========================================
--->


<ul class="list-group">
  <li class="list-group-item">Name: Marie Nicole Barleta</li>
  <li class="list-group-item">Favorite food: Filipino Food</li>
  <li class="list-group-item">Favorite color: Red and Black</li>
</ul>
